body {
  margin: 0;
  font-family: Segoe UI, SegoeUI, Segoe WP, Helvetica Neue, Helvetica, Tahoma,
    Arial, sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white !important;
  font-weight: 400;
}

.btn,
p,
h1,
h4 {
  font-family: Segoe UI, SegoeUI, Segoe WP, Helvetica Neue, Helvetica, Tahoma,
    Arial, sans-serif !important;
}

h1 {
  margin-bottom: 9px;
}

h1,
.h1 {
  font-size: 34px;
  font-weight: 400;
  line-height: 1.1;
}
h3 {
  font-weight: 400;
  margin-bottom: 5px;
  font-size: 1.5em;
}
